#buttons li{
	display: inline-block;
	font-size: 20px;
	font-family: sans-serif;
	border: none;
	list-style: none;
	list-style-position: inside;
	text-align: center;
	border-radius: 10px;
	background-color: rgba(177, 14, 14, 0.295);
	width: 200px;
	line-height: 60px;
	box-shadow: 5px 5px 5px rgba(0,0,0,.2);
	
}

#buttons li a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}

#buttons li a:hover{
	text-decoration: none;
	border-radius: 10px;
	background-color: rgb(177, 14, 14);
	color: rgba(255, 255, 255, 0.705);
	box-shadow: 5px 5px 5px rgba(0,0,0,.2);
	transform: scale(1.1, 1.1);
	transition: color 0.5s ease, background 0.5s ease, transform 0.5s ease;

}

#buttons li a:active {
	color: green;
}

#buttons {
	width: auto;
}

body {
	text-align: center;
	background-color: rgba(224, 69, 69, 0.945);
	background-image: url(https://i.imgur.com/G1hdcNs.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: 1000px 1000px;
}

ul li {
	text-align: center
}

#main-title {

	font-family: sans-serif;
	text-decoration-color: blueviolet;
	
}

#main {
	background-color:  rgba(177, 14, 14, 0.295);
	box-shadow: 5px 5px 5px rgba(0,0,0,.2);
	width: auto;
	height: 400px;
	display: inline-block;
	text-align: center;
	
	
}